<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>ONE PIECE Video Game API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>
<h1 class="hidden">Welcome to One Piece Characters</h1>
<header>
    <nav id="g_nav">
        <div id="logo"><img src="images/logo-2.png" alt="logo"></div>
        <div id="nav">
            <ul class="flex">
                <li><a href="#"><img src="images/nav1_introduction.jpeg" alt="nav_introduction"></a></li>
                <li><a href="#"><img src="images/nav2_character.jpeg" alt="nav2_character"></a></li>
                <li><a href="#"><img src="images/nav3_mode.jpeg" alt="nav3_mode"></a></li>
                <li><a href="#"><img src="images/nav4_system.jpeg" alt="nav4_system"></a></li>
                <li><a href="#"><img src="images/nav5_online.jpeg" alt="nav5_online"></a></li>
                <li><a href="#"><img src="images/nav6_special.jpeg" alt="nav6_special"></a></li>
                <li><a href="#"><img src="images/nav7_movie.jpeg" alt="nav7_movie"></a></li>
            </ul>
        </div>
        <div id="burger_button">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        
    </nav>
</header>

<body>
    <main>
        <div id="app">
            <div>
                <div id="content">
                    <!-- <h2>One Piece</h2>
                    <p>Explore the diverse characters of the One Piece universe.</p> -->
                    <h2 class="hidden">character</h2>
                    <div id="con_title"><img src="images/charactertitle.png" alt="character_title"></div>
                </div>
                
                <div id="spinner-con" v-if="isLoading">
                    <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                    <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                    <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="1s"
                    from="0 50 50"
                    to="360 50 50"
                    repeatCount="indefinite" />
                    </path>
                    </svg>
                </div>
                

                <div id="character_list">
                    <ul id="characters">
                        <!-- Use v-for to traverse characters Data and add click events for each character -->
                        <li class="characters-list" v-for="character in charactersData">
                        <a href="@character" @click="fetchCharacterMedia(character.id, $event)"><img :src="`/SHIH-HSUAN_HUANG_Vue_Ajax_Assignment/images/character_${character.name.toLowerCase()}/character_${character.name.toLowerCase()}.png`" alt="Character Image"></a>
                        <h2>Epithet: {{ character.epithet }}</h2>
                        <h3>Occupation: {{ character.occupation }}</h3>
                        <h4>{{ character.affiliation }}</h4>
                        <h5>{{ character.devil_fruit }}</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <p id="abc"><img src="images/charactertxt.jpeg" alt="charactertxt"></p>
            <div>
                <h2 class="hidden">Copyright</h2>
                <p class="copy"><img src="images/copyright.png" alt="copyright"></p>
            </div>
        
            <!-- Lightbox structure -->
            <div id="lightbox" v-if="showLightbox" @click="showLightbox = false">
                <div class="lightbox-content">
                  <img :src="mediaData.bg_image" alt="Background Image">
                  <div class="overlay-images">
                      <img :src="mediaData.description_image" alt="Description Image">
                      <img :src="mediaData.battle_image" alt="Battle Image">
                  </div>
                </div>
            </div>
              
        </div>
        
    </main>

    <footer id="footer">
        <ul class="footer_btn">
            <li><a href=""><img src="images/footer_btn1.jpeg" alt="footer_btn1"></a></li>
            <li><a href=""><img src="images/footer_btn2.jpeg" alt="footer_btn2"></a></li>
        </ul>
        <p><img src="images/footertext.gif" alt="footertext"></p>

    </footer>

</body>
</html>